.x-large {
  font-size: 4rem;
  line-height: 1.2;
}
.round-img {
  border-radius: 50%;
}
.large {
  font-size: 2rem;
  line-height: 1.2;
}
.medium {
  font-size: 1.5rem;
  line-height: 1.2;
}

.small {
  font-size: 1.2rem;
}

.x-small {
  font-size: 1rem;
}

.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}

/* text-aligns */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.px {
  padding: 0 0.5rem;
}
.px-1 {
  padding: 0 1rem;
}
.px-2 {
  padding: 0 2rem;
}
.px-3 {
  padding: 0 3rem;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.mx {
  margin: 0 0.5rem;
}
.mx-1 {
  margin: 0 1rem;
}
.mx-2 {
  margin: 0 2rem;
}
.mx-3 {
  margin: 0 3rem;
}
/* Text Styles */
@media (max-width: 768px) {
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  .x-large {
    font-size: 2rem;
  }

  .large {
    font-size: 1.5rem;
  }
  .medium {
    font-size: 1rem;
    line-height: 1.4;
  }

  .small {
    font-size: 0.9rem;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1050px;
  }
}
